<div class="panel panel-default">
    <div class="panel-heading" ng-class="{'active': !vm.status.isCollapsed}">
        <span class="section-title">Projects</span>
        <span class="pull-right">
          <span>
          <span><i class="glyphicon glyphicon-plus-sign" ng-click="vm.open(vm.projectsData.userId, 1)"></i></span>
        </span>
        <ng-include src="'scripts/resources/views/accordion-icon.html'" ng-click="vm.status.isCollapsed = !vm.status.isCollapsed" />
        </span>
    </div>
    <div uib-collapse="vm.status.isCollapsed">
        <div class="panel-body">
            <div class="panel panel-default" ng-repeat="projectsListItem in vm.projectsData.projectsList">
                <div class="panel-heading" ng-class="{'active': !projectsListItem.isCollapsed}">
                    <span class="section-title">{{projectsListItem.project.projectName}}</span>
                    <span class="institution-name"> {{projectsListItem.institution.name}} - {{projectsListItem.institution.city}}, {{projectsListItem.institution.state}}</span>
                    <span class="pull-right">
                    <span class="projects-duration">{{projectsListItem.duration.from.month}}' {{projectsListItem.duration.from.year}} to {{projectsListItem.duration.to.month}}' {{projectsListItem.duration.to.year}} </span>
                    <span><i class="glyphicon glyphicon-edit" ng-click="vm.open(vm.projectsData.userId, 2, $index)"></i>
                      <i class="glyphicon glyphicon-trash" ng-click="vm.open(vm.projectsData.userId, 3, $index)"></i>
                      <i class="glyphicon" ng-click="projectsListItem.isCollapsed = !projectsListItem.isCollapsed" ng-class="{'glyphicon glyphicon-triangle-bottom': !projectsListItem.isCollapsed, 'glyphicon glyphicon-triangle-right': projectsListItem.isCollapsed}"></i>
                    </span>
                </div>
                <div uib-collapse="projectsListItem.isCollapsed">
                    <div class="panel-body">
                        <ul>
                            <li ng-repeat="responsibility in projectsListItem.project.responsibilities">{{responsibility}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
