<div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading no-hover">
            <span class="full-name">{{vm.objectiveData.fullName}}</span>
            <i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon glyphicon-plus-sign': vm.status.isEmpty, 'glyphicon glyphicon-edit': !vm.status.isEmpty}" ng-click="vm.open(vm.objectiveData.userId)"></i>
            <h4>{{vm.objectiveData.statement}}</h4>
        </div>
        <div class="panel-body">
            <div ng-repeat="quote in vm.objectiveData.quotes">
                <div class="row">
                    <span>"{{quote.description}}"</span>
                </div>
                <div class="row author">
                    <span>- {{quote.author}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
